.legend {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  img {
    position: absolute;
    top: -2px;
    width: 18px;
  }
  li {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: .75em;
    position: relative;
  }
  span {
    display: inline-block;
    margin-left: 20px;
  }
  svg {
    fill-opacity: .3;
    height: 16px;
    position: absolute;
    stroke-opacity: .7;
    stroke-width: 1px;
    width: 16px;
  }
}

.linklist img {
  max-width: 125px;
}

.logo {
  margin-top: 2em;
}
