dd {
	margin: 0;
}

dt {
	margin-top: 1.5em;
}

figure {
  max-width: 300px;
  margin: 1em auto;
}

h2 {
  border-bottom: 1px solid #eee;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 2em 0;
}
