@import '_common.scss';
@import 'map/_map.scss';

.count {
  line-height: 1;
  margin: 0 0 1em 0;
}

.legend li {
  height: 1.5em;
}

.owners,
.types {
  margin: .5em 0;
}

.types {
  filter: grayscale(100%);
}
