@import '_common.scss';
@import 'map/_map.scss';

.count {
  line-height: 1;
  margin: 0 0 1em 0;
}

.legend {
  margin: .5em 0;

  li {
    height: 1.5em;
  }
}

.owners img {
  filter: opacity(.8);
}

.types {
  filter: grayscale(100%);
}
