@import '_common.scss';
@import 'map/_map.scss';
@import 'map/_popup.scss';

li.count {
  flex: 1;
  margin-right: 0;
  text-align: right;
}

.array {
  fill: #0c0;
  stroke: #0c0;
}

.reference {
  fill: #00c;
  stroke: #00c;
}
