@import '../../../../node_modules/hazdev-template/src/htdocs/css/_variables.scss';
@import '_MousePosition.scss';


/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leaflet-tooltip-pane {
  font-size: 14px;
}

/* use template's color for links in popups */
.leaflet-popup-content a {
  color: $link-color;
}
