@use 'L.Control.MousePosition'; // located in node_modules/leaflet-mouse-position
@use 'variables' as *; // located in node_modules/hazdev-template


/* Stacking order on buildings map (leaflet-overlay-pane has a z-index of 400) */
.leaflet-array-pane {
  z-index: 403;
}
.leaflet-earthquakes-pane {
  z-index: 401;
}
.leaflet-reference-pane {
  z-index: 402;
}

.leaflet-container {
  font-size: 12px;
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Use template's color for links in popups */
.leaflet-popup-content a {
  color: $link-color;

  &:visited {
    color: $link-color-visited
  }

  &:active {
    color: $link-color-active;
  }
}

.leaflet-tooltip-pane {
  font-size: 14px;
}
