.popup {
  font-size: 15px;
  min-width: 15em;

  dd,
  dt {
    padding: .25rem 0;
  }

  dd {
    grid-column-start: 2;
    margin-left: 0;
    padding-left: .75em;
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;
  }

  dt {
    color: #333;
    font-weight: 300;
    grid-column-start: 1;
    text-align: right;
  }

  h2 {
    font-weight: normal;
    margin-bottom: .1em;
  }

  p {
    margin-top: 0;
  }

  time {
    display: inline-block;
    margin-bottom: 1em;
  }

  .images {
    display: flex;
    justify-content: space-between;

    img {
      height: 100px;
      max-width: none;
    }
  }
}
